*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f2f2;
    font-family: 'Manrope', sans-serif;
}

.aboutme_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 43%;
    margin: 20px auto;
}

.aboutme_card > img {
    width: 230px;
    height: 250px;
    border-radius: 5px;
}

.aboutme_card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    margin: 90px;
    width: 90%;
    border-top: 4px solid #da957b;
}


.container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    align-items: center;
}

.information_card {
    width: 400px;
    height: 500px;
    margin-bottom: 20px;
}

img {
    width: 400px;
    height: 250px;
}
